<!doctype html>
<html lang="ru" translate="no" class="notranslate">
    <head>
        <meta charset="UTF-8" />
        <title>Компьютерное тестирование</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <div style="clear: both"></div>

        <div id="header">
            <div class="subheader2x">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td>
                            <span
                                id="ping"
                                style="
                                    position: absolute;
                                    opacity: 0.2;
                                    display: none;
                                "
                                >*</span
                            >
                            <p
                                style="
                                    margin-left: 15px;
                                    color: #000000;
                                    font-size: 12pt;
                                    text-indent: 0;
                                "
                            >
                                Задания:
                            </p>
                        </td>
                        <td>
                            <p id="topline">
                                <font>Оставшееся время - --:--</font>
                            </p>
                        </td>
                    </tr>
                </table>

                <div>
                    <button class="qnum" type="button" id="descriptionBtn">
                        Описание
                    </button>
                    <button
                        class="qnum qramka task-btn"
                        type="button"
                        data-task="1"
                    >
                        1
                    </button>
                    <button
                        class="qnum yellow task-btn"
                        type="button"
                        data-task="2"
                    >
                        2
                    </button>
                    <button
                        class="qnum yellow task-btn"
                        type="button"
                        data-task="3"
                    >
                        3
                    </button>
                    <button class="qnum task-btn" type="button" data-task="4">
                        4
                    </button>
                    <button
                        class="qnum yellow task-btn"
                        type="button"
                        data-task="5"
                    >
                        5
                    </button>
                    <button class="qnum task-btn" type="button" data-task="6">
                        6
                    </button>
                    <button class="qnum task-btn" type="button" data-task="7">
                        7
                    </button>
                    <button class="qnum task-btn" type="button" data-task="8">
                        8
                    </button>
                    <button
                        class="qnum yellow task-btn"
                        type="button"
                        data-task="9"
                    >
                        9
                    </button>
                    <button
                        class="qnum task-btn"
                        type="button"
                        data-task="10.1"
                    >
                        10.1
                    </button>
                    <button
                        class="qnum task-btn"
                        type="button"
                        data-task="10.2"
                    >
                        10.2
                    </button>
                    <button
                        class="qnum task-btn"
                        type="button"
                        data-task="10.3"
                    >
                        10.3
                    </button>
                    <button class="qnum" type="button" id="finishBtn">
                        закончить
                    </button>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div id="reserved"></div>

        <div id="content">
            <div id="QuestionTest">
                <p
                    class="MsoNormal"
                    style="
                        border: 1px solid black;
                        text-align: center;
                        margin: 0px;
                        padding: 0px 3px;
                        line-height: 1.5;
                    "
                >
                    <b><i>Прочитайте текст 1 и выполните задания 1 и 2.</i></b>
                </p>
                <p class="MsoNormal">&nbsp;</p>

                <div
                    id="taskTextBox"
                    style="
                        border: 2px solid #996633;
                        background: #fff9ed;
                        padding: 10px;
                        margin: 10px 0px;
                    "
                >
                    <center>Текст 1</center>

                    <p>
                        (1)В начале 1870 года русские художники поняли наконец
                        прелесть природы средней полосы. (2)Ранее их привлекали
                        экзотические красоты итальянских и крымских ландшафтов.
                        (3)Неброское обаяние пейзажей средней полосы могло быть
                        выражено только через эмоциональное состояние творца.
                        (4)Если для передачи величия моря и гор художнику порой
                        достаточно сосредоточиться на местности, то здесь
                        значимой стала необходимость выразить субъективное
                        отношение, ибо только так можно было раскрыть внешне
                        неприметную, но полную тихого очарования душу русской
                        природы, углубить её восприятие.
                    </p>

                    <p
                        class="MsoNormal"
                        align="right"
                        style="text-align: right; line-height: 1.5"
                    >
                        <i>(По И. Кашековой)</i>
                    </p>
                </div>

                <p class="qq">
                    Подберите и запишите <b>синоним</b> к слову «неброский» из
                    предложения 3.
                </p>

                <div class="answer_flex">
                    <p class="MsoNormal">
                        Ответ:
                        <input
                            type="text"
                            id="a0"
                            autocomplete="off"
                            spellcheck="false"
                        />.
                    </p>
                </div>
                <br />
            </div>

            <div
                class="answer"
                id="descriptionWrapper"
                style="display: none; width: 990px"
            >
                <div class="description_panel" id="descriptionPanel">
                    <div id="descriptionList">
                        {% if tasks %} {% for task in tasks %}
                        <div
                            class="desc_row"
                            data-task="{{ task.task_number }}"
                            data-task-text="{{ task.task_text|e }}"
                        >
                            <div class="desc_label">
                                Задание {{ task.task_number }}
                            </div>
                            <input
                                class="desc_input"
                                type="text"
                                value="{{ task.answer_text|e }}"
                            />
                            <button
                                type="button"
                                class="save-desc-btn"
                                data-task="{{ task.task_number }}"
                            >
                                Отправить
                            </button>
                            {% if task.task_text %}
                            <button
                                type="button"
                                class="view-task-text-btn"
                                data-task="{{ task.task_number }}"
                            >
                                Текст
                            </button>
                            {% endif %}
                            <span class="flash_ok"></span>
                            <div class="desc_task_text" hidden></div>
                        </div>
                        {% endfor %} {% else %}
                        <div class="empty_files" id="emptyDescription">
                            Файлов пока нет.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div
                class="answer"
                id="uploadWrapper"
                style="display: none; width: 990px"
            >
                <div class="upload_box" id="uploadBox">
                    <div class="upload_drop" id="dropZone">
                        <div class="upload_header_line">
                            <div class="upload_title">Загрузка</div>
                            <div class="upload_user_badge">
                                User {{ current_user_id }}
                            </div>
                        </div>
                        <div class="upload_controls_line">
                            <input
                                type="text"
                                id="taskNumberInput"
                                class="upload_task_number_input"
                                placeholder="Номер: 1 или 1 2 3 101"
                                autocomplete="off"
                                spellcheck="false"
                            />
                            <button type="button" id="pickBtn">Выбрать файлы</button>
                        </div>
                        <div class="upload_text_hint">
                            Если поле номера пустое, задания нумеруются по порядку.
                        </div>
                        <div class="upload_text_compact compact">
                            <textarea
                                id="taskTextInput"
                                class="upload_textarea"
                                placeholder="Текст к заданию. Можно отправить отдельно или вместе с файлом."
                            ></textarea>
                            <button type="button" id="sendTextBtn">
                                Отправить
                            </button>
                        </div>
                        <input type="file" id="fileInput" hidden multiple accept="image/*" />
                    </div>
                    <div
                        class="upload_notice"
                        id="uploadNotice"
                        aria-live="polite"
                    ></div>
                </div>
            </div>

            <div
                class="answer"
                id="filesWrapper"
                style="display: none; width: 990px"
            >
                <div class="files_panel" id="filesPanel">
                    <div id="fileList">
                        {% if tasks %} {% for task in tasks %}
                        <div
                            class="file_row"
                            data-task="{{ task.task_number }}"
                        >
                            <div class="file_meta">
                                <div class="file_title">
                                    Задание {{ task.task_number }}
                                </div>
                                <div class="file_name">
                                    {{ task.filename or 'Без файла' }}
                                </div>
                                <div class="file_date">{{ task.created }}</div>
                            </div>
                            <div class="file_actions">
                                {% if task.filename %}
                                <a href="/files/{{ task.filename|urlencode }}"
                                    >Скачать</a
                                >
                                {% endif %}
                                <button
                                    type="button"
                                    class="delete-btn"
                                    data-task="{{ task.task_number }}"
                                >
                                    Удалить
                                </button>
                            </div>
                        </div>
                        {% endfor %} {% else %}
                        <div class="empty_files" id="emptyState">
                            Файлов пока нет.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="AnswerHere">
                <button
                    id="saveAnswerBtn"
                    type="button"
                    style="margin-top: 15px"
                >
                    Сохранить ответ
                </button>
            </div>
        </div>

        <br />
        <center>
            <font id="footer_fake"
                >Page generated in 0.023, memory usage: 487 kb</font
            >
        </center>

        <script>
            window.finishTimestamp = {{ finish_ts }};
            window.initialAnswers = {{ answers_map|tojson }};
            window.initialTaskTexts = {{ task_texts_map|tojson }};
            window.currentTask = '{{ tasks[0].task_number if tasks else "" }}';
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
